<div>
            <img src="/images/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quasi fugit ab ea dolor obcaecati eveniet repudiandae rerum perspiciatis ducimus cum, sed temporibus at odio soluta impedit a id illum?</P>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente los mejores</span>
                    <span class="autor">Juan Perez - beauty.com</span>
                </div>
            </section>
        </div>
