<div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit assumenda
                quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores eveniet natus eius
                officiis qui?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit assumenda
                quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores eveniet natus eius
                officiis qui?
            </p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="/images/nosotros/nosotros1.jpg" alt="Juan Perez">
                    <h5>Juan Perez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros2.jpg" alt="Juana Gomez">
                    <h5>Juana Gomez</h5>
                    <h6>Tech Lead</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros3.jpg" alt="Roberto Gomez">
                    <h5>Roberto Gomez</h5>
                    <h6>CEO</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros4.jpg" alt="Ailen Turniz">
                    <h5>Ailen Turniz</h5>
                    <h6>CTO</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros5.jpg" alt="Pedro Pan">
                    <h5>Pedro Pan</h5>
                    <h6>Recursos Humanos</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>
            </div>
        </div>