<h2>Novedades</h2>
        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Descripcion - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, consectetur officia
                numquam, maiores architecto explicabo iure quo amet modi excepturi, voluptates repudiandae hic nesciunt
                quis voluptate eligendi quidem ex commodi.</p>
        </div>