
<form action="/admin/login" method="post">
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="user" class="form-control" id="inputEmail3" placeholder="Usuario" name="usuario">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña" name="password">
    </div>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{{#if error}}
<p>Usuario o contraseña incorrectos.</p>
{{/if}}